<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Telegram Sign In</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="/styles.css" rel="stylesheet">
  </head>
  <body class="bg-gray-100 dark:bg-gray-900 flex items-center justify-center min-h-screen">
    <%= content %>
  </body>
</html>
